//
   Created by chottinger on 12/5/15.

extends layout

block content
  header
    h1 Rando Corp Applicant Admin

  form.search(name='searchform')
    input(type='text' name='firstname')
    input(type='text' name='lastname')
    input(type='text' name='desiredloc')
    input(type='text' name='skills')
